<div class="title-menu">
    <a href="{$root_url}">録画一覧</a>
    <span style="margin-left: 8px; margin-right: 8px">|</span>
    <span style="margin-right: 8px;">設定»</span>
    <a href="{$root_url}/settings/filter">フィルタ</a>
</div>